{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<div class="col-md-9">
            <div class="col-11">
                <div class="d-flex flex-column gap-3">
                    <form action="{% url 'question' question.id %}" method="POST">
                                          {% csrf_token %}

                    <div class="w-100" style="width: 18rem;">
                        <div class="">
                            <div class="row mt-3">
                                <div class="col-3">
                                    <div class="mb-2" style="height: 195px;">
                                        <img src="{{ question.image }}" alt="Avatar" class="img-thumbnail img-fluid">
                                    </div>
                                    <input type="number" class="form-control" value="{{ question.likes_count }}" placeholder="Default input" aria-label="default input example">

                                </div>
                                <div class="col-9">

                                    <h4 class="card-title">{{ question.title }}</h4>
                                    <p class="card-text mt-1">{{ question.text }}</p>
        
                                    <div>Tags:
                                      {% for tag in question.tags.all %}
                                        <a href="{% url 'tag' tag %}" class="badge bg-primary text-decoration-none">{{ tag }}</a>
                                      {% endfor %}
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <textarea name='text' class="form-control my-3" rows="5" placeholder="Enter your answer here"></textarea>
                    <button class="btn btn-primary">Answer</button>

                    <hr>
                    </form>

                    {% for answer in answers %}
                        {% include 'layout/answer.html' %}
                    {% endfor %}

                    {% include 'layout/paginator.html' %}

                    <hr>
                    

                    

                </div>
            </div>
          </div>
{% endblock %}