{% extends 'layout/base.html' %}
{% load static %}

{% block content %}
  <div class="col-md-9">
    <div class="col-11">
      <div id="errorAlert" class="alert alert-danger" style="display: none;">
        <strong>Error:</strong> This email is already registered. Please use a different email.
      </div>
      
      <main class="container mt-3">
        <div class="row justify-content-center">
          <form id="registrationForm">
            <div class="mb-3 row">
              <label for="login" class="col-sm-2 col-form-label">Login</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="login" placeholder="Enter your login" required>
              </div>
            </div>

            <div class="mb-3 row">
              <label for="email" class="col-sm-2 col-form-label">Email address</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
              </div>
            </div>

            <div class="mb-3 row">
              <label for="nickname" class="col-sm-2 col-form-label">NickName</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="nickname" placeholder="Enter your nickname" required>
              </div>
            </div>

            <div class="mb-3 row">
              <label for="password" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="password" placeholder="Enter your password" required>
              </div>
            </div>

            <div class="mb-3 row">
              <label for="confirmPassword" class="col-sm-2 col-form-label">Repeat Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm your password" required>
              </div>
            </div>

            <div class="mb-3 row">
              <label for="avatar" class="col-sm-2 col-form-label">Upload Avatar</label>
              <div class="col-sm-10">
                <input type="file" class="form-control" id="avatar" accept="image/*">
              </div>
            </div>

            <button type="submit" class="btn btn-primary">Registration</button>
          </form>
        </div>
      </main>
    </div>
  </div>

  <script>
    document.getElementById('registrationForm').addEventListener('submit', function(event) {
      event.preventDefault();

      const email = document.getElementById('email').value;
      if (email === "existing@example.com") { // Здесь проверяется, существует ли email
        document.getElementById('errorAlert').style.display = 'block';
      } else {
        document.getElementById('errorAlert').style.display = 'none';
        alert("Registration submitted successfully!");
      }
    });
  </script>
{% endblock %}
