<div class="card w-100" style="width: 18rem;">
    <div class="card-body question-card" data-question-id="{{question.id}}" data-is-liked="{{ question.is_liked }}">
        <div class="row">
            <div class="col-3">
                <div class="mb-2" style="height: 195px;">
                    <img src="{{ question.author.profile.avatar.url }}" alt="Avatar" class="img-thumbnail img-fluid">
                </div>
                <button class="like-button">
                            <span class="heart"></span>
                            <span class="like-count">{{ question.likes_count }}</span>
                </button>
            </div>
            <div class="col-9">

                <h5 class="card-title">
                    <a href="{% url 'question' question.id %}">{{ question.title }}</a>
                </h5>
                <p class="card-text mb-2">{{ question.text }}</p>

                <div class="d-flex gap-5">
                    <p href="#" class="card-link">Answers({{ question.ans_count }})</p>
                <div>
                    Tags:
                    {% for tag in question.tags.all %}
                    {% if tag %}
                    <a href="{% url 'tag' tag %}" class="card-link">{{ tag }}</a>
                    {% endif %}
                    {% endfor %}

                </div>
                
                    
                </div>
            </div>
        </div>

    
    </div>
</div>